---
import { STEWARDSHIP_ACADEMIC_BRAND_REFERENCE } from "../lib/stewardship-academic-brand-reference";
---

<p class="academic-reference">{STEWARDSHIP_ACADEMIC_BRAND_REFERENCE}</p>

<style>
  .academic-reference {
    margin: 1.25rem 0 0;
    padding: 0.85rem 1rem;
    font-size: 0.88rem;
    line-height: 1.55;
    color: #4a5568;
    background: #f7fafc;
    border-left: 3px solid #cbd5e0;
  }
</style>
